<% layout('./layouts/boilerplate') %>
<%- include('./partials/header') %>
<main class="main-content">
    <h2 class="not-found-header">Something went wrong...</h2>
    <p class="not-found-text">Sorry, we couldn't quite find what you were looking for on Earth.</p>
    <a class="btn not-found-btn" href="/">Home page</a>
</main>